@charset "UTF-8";
body{
	background-color: pink;

	width: 100%;
	height: 100vh;
	background-image: url(background.png);
	background-repeat: no-repeat;
	background-size: 67% 87%;
	background-position: center;
	text-align: center;
	padding: auto;
	
}



#enemy-hand{
	text-align: center;
	margin: auto;
	border-style: solid;
}