@charset "UTF-8";
body{
	width: 100%;
	height: 100vh;
	background-image: url(back-ground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#cpu-hand{
	width: 1200px;
	margin-top: 90px;
	margin-right: auto;
	margin-left: auto;
	padding-right: auto;
	padding-left: auto;
}

#field-list{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}
input[type="checkbox"]:checked + label {
    background-image: url(../image/trump/1.png);
}
