@charset "UTF-8";

body{
	width: 100%;
	height: 100vh;
	background-image: url(result_back.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.player{
	position: fixed;
	text-align:center;
  	height:60px;
  	line-height:60px;
  	margin-top: 270px;
  	margin-left: 450px;
  	
  	font-size:5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
 	color: transparent;
	-webkit-text-stroke: 0.02em rgba(1,1,1,1);
}

.cpu{
	position: fixed;
	text-align:center;
  	height:60px;
  	line-height:60px;
  	margin-top: 270px;
  	margin-left: 450px;
  	
  	font-size:5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
 	color: transparent;
	-webkit-text-stroke: 0.02em rgba(1,1,1,1);
}

.return{
	position: fixed;
	text-align:center;
  	height:60px;
  	line-height:60px;
  	margin-top: 380px;
  	margin-left: 660px;
}
.winner{
	height:100px;
	width:600px;
}
a{
	position:absolute;
	margin-top: 375px;
	margin-left: 500px;
}